.ben-heading{
    padding: 32px;
    font-family: 'Roboto', sans-serif;
}
.ben-heading h1{
    margin: 0 0 7px 0px;
    color: #650D99;
    font-size: 20px;
    font-weight: 900;

}
.ben-heading p{
    color: #4C4C4C;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.ben-link{
    background: white;
    text-decoration: none;
    display: flex;
    width: 296px;
    height: 64px;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #650D99;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border{
    width: 8px;
    background: #650D99;
    height: 100%;
    border-radius: 10px 0 0px  10px;
    
}

.ben-img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFE7F3;
    margin-left: 10px;
    margin-right: 20px;

}


.ben-text h2{
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    

}
.ben-text p{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #6C6C6C;
}
.arrow{
    margin-left: auto;
    margin-right: 10px;

}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
 }



